{% include "header.html" %}
<a href="/index" class="arrow-link"><i class="fa-solid fa-arrow-left"></i> Go Back</a>
<section class="ddu-gky-section">
    <div class="container1">
      <h1><span>A</span>bout DDU GKY</h1>
      <p>Deen Dayal Upadhyaya Grameen Kaushalya Yojana (DDU-GKY) is the skilling and placement initiative of the Ministry of Rural Development (MoRD), Government of India. DDU-GKY has its origins in the Aajeevika Skills programme and the ‘Special Projects’ component of the Swarnjayanti Gram Swarozgar Yojana (SGSY). The scheme focuses on catering to the occupational aspirations of rural youth and enhancing their skills for wage employment.</p>
      <p>Implementation of DDU-GKY involves State Governments, Technical Support Agencies like the National Institute of Rural Development and Panchayati Raj (NIRD &amp; PR), and Project Implementing Agencies (PIAs).</p>
      <p>MoRD has notified the Guidelines and Standard Operating Procedures (SOP) to be followed while implementing the programme. It is mandatory for all project functionaries under DDU-GKY to be trained, assessed and certified in the Standard Operating Procedures.</p>
      <h1><span>V</span>ision</h1>
      <p>To be a Centre of Excellence and a global leader for policy design and implementation in skilling and placement linked skill programs for rural youth of the developing countries.</p>

      <h1><span>M</span>ission</h1>
      <p>To provide technical services such as monitoring, evaluation, training, content development, and research for the programs undertaken by Government at national level to enable rural poor youths including socially disadvantaged groups to secure a better future.</p>
      <h1><span>O</span>bjectives</h1>
      <ul>
        <li>Make NIRDPR the nodal advisory institute for skilling and placement linked programs for rural youth in the country by 2020</li>
        <li>Enhance the competencies of stakeholders and functionaries in the effective implementation of placement linked skills programs for the benefit of the rural youth in India.</li>
        <li>Be a knowledge repository of skilling initiatives and programs in the developing world.</li>
        <li>To be the leader in impact evaluation research of skilling programs</li>
      </ul>
    

    </div>
  </section>


  {% include "footer.html" %}
