

h2 {
    text-align: center;
}

form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
}

textarea, input[type="date"], input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: hsl(253,42%,32%);
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color:  rgb(110,111,115);
}

input[type="date"]::-webkit-inner-spin-button {
    display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 1;
}


@media only screen and (max-width: 600px) {
    body {
        padding: 10px; 
    }

    form {
        width: 90%;
    }

    textarea, input[type="date"], input[type="submit"] {
        width: 100%;
        margin-bottom: 10px;
    }

    h2 {
        font-size: 1.5rem; 
    }
}

